# IntelliJ project files
.idea
*.iml
out
gen

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Source
src/

# Tests
coverage/
jest.config.js
jest.setup.ts
jest.utils.ts

# TypeScript
tsconfig.json
tsconfig.test.json
*.tsbuildinfo

# Optional npm cache directory
.npm

# eslint
.eslintrc
.eslintignore
.eslintcache

# prettier
.prettierrc
.prettierignore

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Yarn
.yarn.lock
.yarn-integrity

# release-it
.release-it.json
